<div class="modal-header">
  <div>
    <h4 class="modal-title">{{groupData.groupName}}</h4>
    <p class="m-0">{{groupData.groupDescription}}</p>
  </div>
  <span
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </span>
</div>
<div class="modal-body">
  <div class="card lesson-border">
    <div class="card-body selectedUser">
      <div class="row" *ngFor="let user of groupData.groupMembers">
        <div class="col col-sm-3">
          <img [src]="user.Image" class="image" />
        </div>
        <div class="col col-sm-9 details">
          <div>{{user.name}}</div>
          <div>{{user.id}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
